
:root {
    --ifm-color-primary: #0acf83;
    --ifm-color-primary-dark: #09ba76;
    --ifm-color-primary-darker: #08b06f;
    --ifm-color-primary-darkest: #07915c;
    --ifm-color-primary-light: #0be490;
    --ifm-color-primary-lighter: #0cee97;
    --ifm-color-primary-lightest: #26f4a5;
}
